
<h3><%= link_to 'New Menu', new_menu_path if current_user.admin? %></h3> 
  

<p id="notice"><%= notice %></p>

<h1>Listing Menu on Saturday</h1>
<div class="table-responsive">
  <table class="table">
    <%= render 'thead_form' %>
    <tbody>  
      <%= render(@menus.saturday) %>
  </table>
</div> 
<br>