<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
        	<h2>Your lunch order </h2>
            <table class="table table-hover">
                <thead>
                <%= render(@cart.line_items) %>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong><%= number_to_currency(@cart.total_price) %></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <%= link_to "Continue Shopping", root_path, class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
                       </td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                        <td>
                            <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>