<!--header-->
<div class="header">
  <div class="top-nav">
    <span class="menu"><img src="images/menu.png" alt=""/></span>
    <ul>
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
    <!-- script-for-menu -->
    <script>          
      $("span.menu").click(function(){
        $(".top-nav ul").slideToggle("slow" , function(){
        });
      });
    </script>
    <!-- script-for-menu -->
  </div>
    <div class="clearfix"> </div>
</div>  
<!--//header-->